@charset "utf-8";
$family-primary: 'Poppins', sans-serif;
$family-secondary: 'Lato', sans-serif;
$border-radius: 0px;
$primary: #334353;
$secondary: #cfa87f;
@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/functions.sass";
@import "~bulma/sass/utilities/derived-variables.scss";
@import "~bulma/sass/utilities/animations.sass";
@import "~bulma/sass/utilities/mixins.sass";
@import "~bulma/sass/utilities/controls.sass";
@import "~bulma/sass/base/minireset.sass";
@import "~bulma/sass/base/generic.sass";
@import "~bulma/sass/helpers/_all";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/grid/columns.sass";

.header{
    margin-bottom: 1.6rem;
    font-family: $family-secondary;
    color: #15171a;
    b{
        color: $primary;
    }
}
.is-secondary{
    background-color: $secondary;
    border: 0px solid $secondary;
}