@import "../../main.scss";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/form/shared.sass";
@import "~bulma/sass/form/input-textarea.sass";
@import "~bulma/sass/form/tools.sass";
@import "~bulma/sass/form/select.sass";
.is-bulletless{
    li{
        list-style-type: none;
    }
}
.is-inline{
    .is-size-5{
        position: relative;
        top: -1rem;
        margin-left: 1rem;
    }
}