@import "../../main.scss";
$navbar-height: 4rem;
@import "~bulma/sass/components/navbar.sass";
.navbar-item{
    text-transform: capitalize;
}
.logo{
    min-height: 50px;
    min-width: 50px;
    margin-right: 10px;
}